*{
    margin: 0;
    padding: 0;

}


.head{
    position: absolute;
    top: 86%;
    left: 88%;
    transform:translate(-50%,-50%);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    user-select: none;


}
.buttons{
    text-align:center;
    display:inline-block;
}
.buttons button{
    padding: 20px 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 300px;
    display: inline-block;
    width: 300px;
    text-align: center;
    cursor: pointer;
    color:rgb(255, 255, 255);
    float: right;
  }
  
    
    
